.App {
  text-align: center;
}

div {
  background-size: cover;
}

.detail, .detail-header, .listings, .home, .home div, .boat-card, .navbar {
  display: flex;
}

.home, .home div {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.detail, .boat-card, .home div {
  flex-direction: column;
}

.home div {
  height: 40em;
  width: 30em;
}

h2 {
  text-align: left;
  font-weight: normal;
}

h1 {
  font-family: 'Georgia'
}

h1, h2, h3, h4 {
  margin: 0;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  padding: 1em;
  min-height: 2em;
  font-family: 'Georgia';
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 0.5em;
}

.boat-card {
  padding: 1em;
  width: 18em;
  height: 15em;
  background-color: rgb(36, 47, 85);
  border-radius: 0.5em;
  margin: 1em;
  justify-content: space-around;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527);
  color: white;
  font-family: 'Georgia';
  cursor: pointer;
}

.boat-card:hover {
  transform: scale(1.01);
}

.boat-card img {
  width: 100%;
  height: 10em;
  object-fit: center;
  box-shadow: inset 0 0 1em rgb(0, 0, 0);
}

.listings {
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
}

.detail-header {
  background-color: rgb(23, 28, 46);
  padding-bottom: 1em;
  padding-right: 1em;
  justify-content: space-between;
  color: white;
  max-width: 100vw;
}

.detail-header img {
  width: 40em;
  height: 20em;
  object-fit: cover;
}

.info-wrapper {
  max-width: 40em;
  margin: 0 auto;
  text-align: left;
}

.detail {
  min-height: 35em;
  justify-content: space-between;
}

form {
  background-color: black;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20em;
  min-height: 10em;
  margin: 2em auto;
  border-radius: 0.25em;
}

form input {
  display: block;
  padding: 0.25em;
}

button, input {
  outline: none;
  border: none;
  border-radius: 0.25em;
}

button {
  padding: 0.5em 2em;
  background-color: white;
  font-family: 'Georgia';
  font-weight: bold;
  cursor: pointer;
  margin-top: 1em;
}