.App {
  text-align: center;
}

body {
  background-color: rgb(31, 50, 119);
}

div {
  background-size: cover;
  background-color: rgb(31, 50, 119);
}

.detail,
.listings,
.home,
.home div,
.boat-card,
.navbar {
  display: flex;
}

.home,
.home div {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.detail,
.city-card,
.home div {
  flex-direction: column;
}

.home div {
  height: 40em;
  width: 30em;
}

p {
  color: white;
  font-size: 25px;
  width: 1100px;
}

h2 {
  text-align: left;
  font-weight: normal;
}

h1 {
  font-family: 'Georgia';
}

h3 {
  font-size: 45px;
  margin: 55px 50px;
  font-family: 'Racing Sans One', cursive;
}

h1,
h2,
h3,
h4 {
  /* margin: 0; */
}

.navbar {
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  padding: 1em;
  min-height: 2em;
  font-family: 'Georgia';
  font-size: 24px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 0.5em;
  background-color: rgb(0, 0, 0);
}

.city-card {
  padding: 1em;
  width: 500px;
  height: 500px;
  background-color: rgb(83, 106, 190);
  border-radius: 0.5em;
  /* margin: 1em; */
  margin: 50px -60px;
  margin-left: 270px;
  justify-content: space-around;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527);
  color: white;
  font-family: 'Georgia';
  cursor: pointer;
}

.city-card:hover {
  transform: scale(1.01);
}

.city-card img {
  width: 100%;
  height: 350px;
  object-fit: center;
  box-shadow: inset 0 0 1em rgb(0, 0, 0);
}

.listings {
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
}

.detail-header {
  background-color: rgb(23, 28, 46);
  padding-bottom: 1em;
  padding-right: 1em;
  justify-content: space-between;
  color: white;
  max-width: 100vw;
}

.detail-header img {
  width: 40em;
  height: 20em;
  object-fit: cover;
}

.info-wrapper {
  display: inline;
  justify-self: 'space-between';
  max-width: 40em;
  margin: 0 auto;
  text-align: left;
}

.detail {
  display: 'flex';
  justify-content: 'center';
  min-height: 35em;
  justify-content: space-between;
  min-width: '30em';
  align-items: 'center';
}

form {
  background-color: black;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20em;
  min-height: 10em;
  margin: 2em auto;
  border-radius: 0.25em;
}

button {
  outline: none;
  border: none;
  border-radius: 0.25em;
}

button {
  padding: 0.5em 2em;
  background-color: white;
  font-family: 'Georgia';
  font-weight: bold;
  cursor: pointer;
  margin-top: 1em;
}
